// @import "../css/mixins/font-face";

// @include font-face("Roboto", "../fonts/roboto-bold-webfont", 700, normal);
// @include font-face("Roboto", "../fonts/roboto-regular-webfont", 400, normal);
// @include font-face("Roboto", "../fonts/RobotoLight", 300, normal);
// @include font-face("Roboto", "../fonts/RobotoMedium", 500, normal);
// @include font-face("BentonSans", "../fonts/BentonSansBold", 700, normal);
// @include font-face("BentonSans", "../fonts/BentonSansRegular", 400, normal);
// @include font-face("CabinetGrotesk", "../fonts/CabinetGrotesk", 400, normal);
// @include font-face("DMSans", "../fonts/DMSansBold", 700, normal);
// @include font-face("DMSans", "../fonts/DMSansMedium", 500, normal);
// @include font-face("DMSans", "../fonts/DMSansMediumItalic", 500, italic);
// @include font-face("DMSans", "../fonts/DMSansRegular", 400, normal);
// @include font-face("Inter", "../fonts/InterBold", 700, normal);
// @include font-face("OpenSans", "../fonts/OpenSansRegular", 400, normal);
// @include font-face("Otella", "../fonts/Otella", 400, normal);
// @include font-face("Poppins", "../fonts/PoppinsBold", 700, normal);
// @include font-face("Poppins", "../fonts/PoppinsMedium", 500, normal);


@font-face {
    font-family: "DM Sans";
    src: url("../resources/fonts/DMSansBold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "DM Sans";
    src: url("../resources/fonts/DMSansMedium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../resources/fonts/DMSansMediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "DM Sans";
    src: url("../resources/fonts/DMSansRegular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}