:root {
  --color-black : #000;
  --color-white : #fff;
  --color-text-header: #121212;
  --background-color: #F0FAFE;
  --color-text: #121212;
  --color-text2: #DC2326;
  --will-change-color: #00d4ff;
  --grey: #B2BEB5;
  --color-text3:#C2D0D6;
  --border-color: #DE5C9D;
  --border-color2: #8C68CD;
  --border-color3: #4DD4AC;
  --color-text3: #262C71;
  --border-color4: #C8C6CD;
  --border-color5: #BCBED7;
  --color-text4: #141C1F;
  --rgba2: rgba(222,92,157, .5);
  --rgba1: rgba(38,44,113, .5);
  --rgba3: rgba(77,212,172, .5);
  --color-text5: #535353;

}
